
a:hover {
  color: #82b440;
}
input:focus, textarea:focus {
  border-color: #82b440 !important;
}
.social-link a:hover {
  color: #82b440;
}
.contact-way > span i {
  color: #82b440;
}
.mainmenu ul li.active a {
  color: #82b440;
}
.mainmenu ul li a:hover {
  color: #82b440;
}
.owl-nav div:hover{
  background:#82b440;
}
.cd-headline.clip span {
  color: #82b440;
}
.banner-text-btn a {
  border: 1px solid #82b440;
}
.banner-text-btn-bg a {
  background: #82b440 none repeat scroll 0 0;
}
.heading > h2::before {
  background: #82b440 none repeat scroll 0 0;
}
.heading > h2::after {
  background: #82b440 none repeat scroll 0 0;
}
.postmore {
  border: 1px solid #82b440;
}
.doing-us > ul li i {
  color: #82b440;
}
.progress-bar {
  background-color: #82b440;
}
.da-thumbs li a div {
  background: #82b440 none repeat scroll 0 0;
}
.owl-dots div.owl-dot > span {
  background: #82b440 none repeat scroll 0 0;
}
.video-content > button {
  border: 1px solid #82b440;
  color: #82b440;
}
.pricing-sin:hover, .pricing-sin.active {
  background: #82b440 none repeat scroll 0 0;
}
.pricing-btn {
  background: #82b440 none repeat scroll 0 0;
}
.team-member-details {
  background: #82b440 none repeat scroll 0 0;
}
.team-member-link > a:hover {
  color: #82b440;
}
.blog-content > h4 a:hover {
  color: #82b440;
}
.contact-box-single i {
  color: #82b440;
}
#scrollUp {
  background: #82b440 none repeat scroll 0 0;
}
.demo_changer .demo-icon {
  background: #82b440 none repeat scroll 0 0;
}
.m-btn-submit > button {
  border: 1px solid #82b440;
  color: #82b440;
}
.m-btn-submit:hover > button {
  background: #82b440 none repeat scroll 0 0;
}
.faq a {
  background: #82b440 none repeat scroll 0 0;
}
.offer-nav li > a {
  border: 1px solid #82b440;
  color: #82b440;
}
.offer-nav li.active > a {
  background: #82b440 none repeat scroll 0 0;
}
.recent-post-text h6 a:hover {
  color: #82b440;
}
.blog-sidebar-sin ul li a:hover{
  color: #82b440;	
}
.blog-social-link a:hover {
  color: #82b440;
}
.blogdetails-comment-form .m-btn-submit {
  background: #82b440 none repeat scroll 0 0;
}




